@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /*border are include in height and weight*/
}

body{
    background: #eee   ;
    background: linear-gradient(0deg, #F3E9DD
    19%, #4B6587) ;
    overflow: hidden;
    min-height: 100vh; /*Relative to 1% of the height of the viewport*/
}

.containerrr{
    opacity: 1;
    position: relative;
    width: 40%;
    left: 23rem;
    top: 13rem;
    height: 10rem;
    background:rgba(255, 255, 255, 0.027);
    box-shadow:  0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); 
    backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.20 );
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 70%;
    height: 1rem;
    border: 2px solid #DAB88B;
    border-radius: 1rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: larger;
    color: #DAB88B;
    outline: none;
    padding: 1.25rem;
    background: transparent;
    margin: 1rem;
   
}

input:hover {
    border-color: #F3E9DD;
  }

input:focus {
    border-color: #DAB88B;
}   

.form__button{
    width: 100%;
    padding: 0.75rem 2rem;
    background-image: linear-gradient(to right,  #DAB88B , rgba(238, 237, 222, 1), #F3E9DD);
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
	display: block;
    cursor: pointer;
	transition: .5s;
    background-size: 200%;
    position: relative;
    top: 1rem;
}

.form__button:hover{
    background-color: #F3E9DD;
    background-position:  right;
}

option {
    width: 70%;
    height: 1rem;
    border: 2px solid #28892d;
    border-radius: 1rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: larger;
    color: #DAB88B;
    outline: none;
    padding: 1.25rem;
    /* background: transparent; */

}

h1{
    color: #DAB88B;
}

select{
    width: 70%;
    height: 1rem;
    border: 2px solid #DAB88B;
    border-radius: 1rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: larger;
    color: #DAB88B;
    outline: none;
    padding: 1.25rem;
  /* background: transparent; */
    background: transparent;
}

select:hover {
    border-color: #F3E9DD;
  }

select:focus {
    border-color: #DAB88B ;
}  

h1{ 
    margin:50px;
    padding: 10px;
}

.button__{
    position: relative;
    width: 40%;
    margin-top: 20px;
    padding: 0.75rem 2rem;
    background-image: linear-gradient(to right,  #DAB88B , rgba(238, 237, 222, 1), #4B6587);
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
	display: block;
    cursor: pointer;
	transition: .5s;
    background-size: 200%;
    position: relative;
    margin-top: 7rem;


}
.button__:hover{
    background-color: #E0DDAA;
    background-position:  right;
}