@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /*border are include in height and weight*/
}

body{
    background: #eee   ;
    background: linear-gradient(0deg, rgba(238, 237, 222, 1)
    19%, #28892d) ;
    overflow: hidden;
    min-height: 100vh; /*Relative to 1% of the height of the viewport*/
}

.rev__button{
    width: 30%;
    left: 5rem;

    /* padding: 0.75rem 2rem; */
    background-image: linear-gradient(to right, #ed524e, rgba(238, 237, 222, 1), #ed524e);
    position: relative;
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
   display: block;
    cursor: pointer;
   transition: .5s;
    background-size: 200%;

}

.button2{
    width: 40%;
    padding: 0.75rem 2rem;
    background-image: linear-gradient(to right,  #ed524e , rgba(238, 237, 222, 1), #28892d);
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
	display: block;
    cursor: pointer;
	transition: .5s;
    background-size: 200%;
    position: relative;
    top: 24rem;
    left: 28rem;
}

.button2:hover{
    background-color: #E0DDAA;
    background-position:  right;
}

.signuptext{
    color: rgba(32, 50, 57, 1);
    font-weight: bolder;
    font-size: larger;
}

.rev__button2{
    width: 30%;
    left: 37rem;
    position: relative;
    /* padding: 0.75rem 2rem; */
    background-image: linear-gradient(to right, #ed524e, rgba(238, 237, 222, 1), #ed524e);
    bottom: 1.5rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
   display: block;
    cursor: pointer;
   transition: .5s;
    background-size: 200%;

}

.rev__button3{
    width: 20%;
    left: 35rem;
    position: relative;
    /* padding: 0.75rem 2rem; */
    background-image: linear-gradient(to right, #000000, rgba(238, 237, 222, 1), #000000);
    bottom: 3rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    transition: .5s;
    background-size: 200%;

}

.txt{
    color: rgba(32, 50, 57, 1);
}

h3{
    color: #E0DDAA;
    position: relative;
    left: 30rem;
    top: 1rem;
    margin-bottom: 2rem;
}

p{
    text-align: center;
    color: #000000;
    font-size: large;
}

.conf_form_group{
    width: 80%;
    position: relative;
    height: 7rem;
    left: 10rem;
    border: 2px solid #ed524e;
    border-radius: 1rem;
    font-family: inherit;
    font-weight: inherit;
    color: rgba(238, 237, 222, 1);
    outline: none;
    padding: 1.25rem;
    background: #65b96d;
}

table{
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #ed524e;
    border-radius: 5px;
    background-color: #65b96d;
    margin-bottom: 20px;
    margin-top: 3rem;

}

.button_{
    position: relative;
    width: 40%;
    /* padding: 0.75rem 2rem; */
    background-image: linear-gradient(to right,  #ed524e , rgba(238, 237, 222, 1), #28892d);
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
	display: block;
    cursor: pointer;
	transition: .5s;
    background-size: 200%;
    position: relative;
    margin: 5px;
    display: inline;

}
.button_:hover{
    background-color: #E0DDAA;
    background-position:  right;
}

.button__{
    position: relative;
    width: 40%;
    margin-top: 20px;
    padding: 0.75rem 2rem;
    background-image: linear-gradient(to right,  #ed524e , rgba(238, 237, 222, 1), #28892d);
    border-radius: 5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
	display: block;
    cursor: pointer;
	transition: .5s;
    background-size: 200%;
    position: relative;
    margin: 5px;
    display: inline;

}
.button__:hover{
    background-color: #E0DDAA;
    background-position:  right;
}


a{
    color: rgba(32, 50, 57, 1);
    font-weight: bolder;
    
}