<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Medcin</title>
    <link rel="stylesheet" th:href="@{/css/ajouter.css}">
</head>
<body>
    <div align="center">
        <h1>Modifier La Commande</h1>

        <form action ="#" th:action="@{/saveCommand}" th:object="${command}" method="POST">

            <!-- add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}">

            <select th:field="*{medcin}">
                <option value="0">select medcin</option><
                <option th:each="medcin: ${listMedcins}" th:value="${medcin.id}" th:text="${medcin.produit}" />
            </select>
           
            <input type="text" th:field="*{quantity}" >

            <button class="button__" type="submit">save</button>
        </form>
    </div>

    <!-- <div class="main">

        <div class="containerrr">
            <form action="/action_page.php" th:action="@{/saveCommand}" th:object="${command}" method="POST">
                <input type="hidden" th:field="*{id}">
                <select th:field="*{medcin}">
                    <option value="0">select medcin</option><
                    <option th:each="medcin: ${listMedcins}" th:value="${medcin.id}" th:text="${medcin.produit}" />
                </select>
                <input type="text" th:field="*{quantity}">
                <button class="form__button">
                    <div class="signuptext" type="submit">Ajouter la commmande</div>
                </button>
              </form>
        </div>
        
        
    </div> -->
</body>
</html>